@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Karla', sans-serif !important;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden !important;
}

.bg-color {
  background: rgb(78, 72, 147) !important;
  background: linear-gradient(90deg, rgba(78, 72, 147, 1) 35%, rgba(207, 96, 237, 1) 91%) !important;
}

.text-two {
  font-family: 'Tangerine', cursive !important;
}